{% extends 'admin/index.html.twig' %}

{% block title %}Edit Product{% endblock %}


{% block body %}
<div class="container">
    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin') }}" class="primary-btn mt-2">back to list</a>
</div>

{% endblock %}
